body {
   margin: 0;
   padding: 0;
}

.colorBox {
  position: absolute;
  top: 0%;
  height: 200px;
  width: 100vw;
  background: #2F2F2F;
  z-index: -1;
}

.centerPosts {
  width: 100vw;
  height: fit-content;
  text-align: center;
}

.classTitle {
  margin: 0;
  padding: 50px;
  font-size: 32px;
  color: #46B3C1;
}

.allPosts {
  height: fit-content;
  width: 40%;
  margin: auto;
}

.singlePost {
  margin-top: 50px;
  background: #948C89;
  width: 100%;
  height: fit-content;
  border-radius: 15px;
}

.postTitle {
  text-align: left;
  padding: 10px 60px;
}

.postBtn {
  height: 35px;
  margin-left: 10px;
}

.commentBtn {
  height: 35px;
  margin-left: 10px;
}

.postText {
  width: 20%;
  height: 35px;
}

.commentText {
  width: 60%;
  height: 35px;
}

.commentTitle {
  text-align: left;
  padding: 0px 60px;
  color: #363533;
}
