body {
  margin: 0;
  padding: 0;
}
.btn {
  margin-left: 10px;
  height: 30px;
  width: fit-content;
  font-weight: bold;
  letter-spacing: 1px;
}
.classSection {
  margin: auto;
  height: fit-content;
  width: 70%;
  position: relative;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}
.logoutBtn {
  position: absolute;
  top: 2%;
  right: 2%;
  height: 30px;
  font-weight: bold;
  letter-spacing: 1px;
}
.formStyles {
  width: 100vw;
  height: fit-content;
  padding: 25px 0px;
  text-align: center;
}
